
.carn-screens-container {
  display: flex;
}

.carn-route {
  margin: 20px;
  height: 300px;
  width: 300px;
  color: rgb(110, 66, 229);
  background: rgb(238, 242, 254);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(110, 66, 229);
}

.hidden {
  display: none;
}


.button {
  color: white;
  background-color: rgb(110, 66, 229);
  font-size: 14px;
  border: 1px solid #eee;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  border-radius: 8px;
  padding: 8px;
  margin: 0px 20px;
  font-family: sans-serif;
  cursor: pointer;
}